@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.urbanistFont {
    font-family: "Urbanist", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
}

@keyframes gradientSlide {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.gradient-animation {
    background: linear-gradient(-45deg,
            #3b82f6,
            #10b9b0,
            #3b82f6,
            #93c5fd
        );
    background-size: 400% 400%;
    animation: gradientSlide 8s ease infinite;
}